<h1>Edit list</h1>

<form action="/lists/<%= @list.id %>" method="post">
  <input type="hidden" name="_method" value="put" />
  <label for="title">Title</label>
  <input type="text" name="title" id="title" value="<%= @list.title %>">
  <input type="submit">
</form>

<hr>

<form action="/lists/<%= @list.id %>" method="post">
  <input type="hidden" name="_method" value="delete" />
  <input type="submit" value="Delete">
</form>
