<h1>Lists</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Tasks</th>
    </tr>
  </thead>
  <tbody>
    <% @lists.each do |list| %>
      <tr>
        <td>
          <a href="/lists/<%= list.id  %>">
            <%= list.title %>
          </a>
        </td>
        <td><%= list.tasks.size %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>

<p>
  <a href="/lists/new">New list</a>
</p>
