<h1><%= @list.title %></h1>

<a href="/lists/<%= @list.id %>/edit">Edit</a>

<form action="/lists/<%= @list.id %>" method="post">
  <input type="hidden" name="_method" value="delete" />
  <input type="submit" value="delete">
</form>
