<h1>Tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <a href="/tasks/<%= task.id %>">
        <%= task.title %>
        <% if task.list %>
          <em>(<small><%= task.list.title %></small>)</em>
        <% end %>
      </a>
    </li>
  <% end %>
</ul>
