<h1>New task</h1>

<form action="/tasks" method="post">
  <input type="text" name="title" id="title" placeholder="Title">
  <select id="list" name="list_id">
    <% @lists.each do |list| %>
      <option value="<%= list.id %>"><%= list.title  %></option>
    <% end %>
  </select>
  <input type="hidden" name="authenticity_token" value="<%= session[:csrf] %>">
  <input type="submit">
</form>
